// --------------------------------------------------------------------------
// Glossary page and tooltip
// --------------------------------------------------------------------------

//
// Glossary Page
// --------------------------------------------------------------------------

.post-content {
    // div.post-content
    //   dl.glossary
    //     dt
    //     dd
    dd {
        padding-left: $spacing-unit / 2;
        padding-bottom: $spacing-unit / 2;
    }
    dl.glossary dt {
        font-weight: 700;
    }
}

a.glossary-tooltip {

  border-bottom: dashed 1px rgba(0,0,0,0.5);
  /*padding: 0 0.4em;*/
  cursor: help;
  /*font-style: normal;*/
  position: relative;

}

.tooltip  {

  .tooltip-inner {
    background-color: rgba(0,0,0,0.5);
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5em;
    color: #fff;
    padding: 0.5em 0.8em;
  }

  .arrow {

  }
}
