// ----------------------------------------------------------
// layout of the page (including behaviours)
// ----------------------------------------------------------

// see html-skeleton.html for which styles are required


/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 2px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 0;
    //float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.header-wrapper {
    @include clearfix();
}

.header-col {
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
    margin-top: $spacing-unit / 2;
}

.header-title {
    float: left;
}

.header-icons {
    float: right;
    text-align: right;
}

.content-container {
    display: block;
    overflow: hidden;

    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @include clearfix();

    @include media-breakpoint-up(md) {
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

article.post {
    max-width: $content-max-width;
    margin-top: $spacing-unit / 2 ;
    margin-left: auto;
    margin-right: auto;
}

/**
 * Site footer
 */
.site-footer {
    border-top: 2px solid $grey-color-light;
    padding: $spacing-unit / 2;
    font-size: $small-font-size;
    color: $grey-color;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @include clearfix();
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(68% - (#{$spacing-unit} / 2));
    width:         calc(68% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    width:         calc(30% - (#{$spacing-unit} / 2));
    text-align: right;
}

@include media-breakpoint-up(md) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }
}

@include media-breakpoint-down(sm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

