// ----------------------------------------------------------
// layout of the page (including behaviours)
// ----------------------------------------------------------

//
// Site header
// --------------------------------------------------------------------------/**
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 2px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;

    .site-title {
        //float: left;
    }

    .header-title, .header-icons {
        margin-bottom: $spacing-unit / 2;
        padding-top: $spacing-unit / 2;
    }

    .header-title {
        float: left;
    }

    .header-icons {
        white-space: nowrap;
        float: right;
        text-align: right;
        @include media-breakpoint-down(sm) {
            text-align: left;
            min-width: 300px;
        }        
    }
}

//
// Content
// --------------------------------------------------------------------------

.content-container {
    display: block;
    overflow: hidden;

    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @include clearfix();

    @include media-breakpoint-up(md) {
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

article.post {
    max-width: $content-max-width;
    margin-top: $spacing-unit / 2 ;
    margin-left: auto;
    margin-right: auto;
}

//
// Footer
// --------------------------------------------------------------------------

.site-footer {
    margin-top: $spacing-unit / 2;
    .footer-top {
        padding-top: $spacing-unit / 2;
        padding-bottom: $spacing-unit / 2;
    }

    .footer-col-bottom-right {
        text-align: right;
        @include media-breakpoint-down(sm) {
            text-align: left;
            min-width: 300px;
        }
    }
}
