<div class="row">
  <div class="col footer-top">
    <p><strong>${version}</strong></p>
    <p>{{ site.description }}</p>
    <p>{{ site.license }}</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-8">
    <ul class="contact-list">
      <li>Contact:<br/><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      <li><a href="${github_url}">Fork on GitHub</a></li>
    </ul>
  </div>
  <div class="footer-col-bottom-right col-sm-4">
    <ul class="social-media-list">
      <li><a href="https://sociocracy30.org">Sociocracy 3.0 site</a></li>
      {% if site.twitter_username %}
      <li>
        {% include icon-twitter.html username=site.twitter_username %}
      </li>
      {% endif %}
      {% if site.github_username %}
      <li>
        {% include icon-github.html username=site.github_username %}
      </li>
      {% endif %}
    </ul>
  </div>
</div>
