<div class="row">
  <div class="header-title col-10">
    <a class="site-title" href="\{\{ site.baseurl \}\}/">\{\{ site.title \}\}</a>
  </div>
  <div class="header-icons col-2">
    <a href="site-index.html" ><img src="icons/list-ul.svg" class="icon" title="An alphabetical index of all pages." /></a>
    <a href="map.html" ><img src="icons/map.svg" class="icon" title="Use the map to jump to another page." /></a>
    <span id="annotate-span"><a href="" id="annotate-link"><img src="icons/comments-alt.svg" class="icon" title="Annotate this page with hypothes.is. Click here, wait for the page to reload, then you can highlight text and add public comments. You will need to set up a free account at hypothes.is." alt="annotate page"/></a></span>
  </div>
</div>
